<p>article-component works!</p>

    <table class="table" border="3">
        <tr><th>id</th><th>contenu</th><th>auteur</th><th>date</th><th>categorie</th></tr>
    <tbody *ngFor="let article of articlelist" let i="index">
        <td>{{article.id}}</td>
        <td>{{article.contenu}}</td>
        <td>{{article.auteur}}</td>
        <td>{{article.date}}</td>
        <td>{{article.categorie}}</td>
        <button type="button" class="btn btn-info"[routerLink]="['/article',article.id]">Info</button>
    </table>